.container {
    position: relative;
    &>&-sidebar{
        width: 240px;
        box-sizing: border-box;
        background: white;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        border-right: 1px solid #d8d9e3;
        &:after{
            content: "";
            display: block;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: inherit;
            background: inherit;
            border-style: inherit;
            border-color: inherit;
            border-width: inherit;
        }
    }
    &>&-main{
        box-sizing: border-box;
        border-top: 1px solid transparent;
        margin-top: -1px;
        // min-height: 1%;
        // padding-top: 1px;
        margin-left: 240px;
        // padding: 0  20px;
        padding-left: 40px;
        padding-right:50px; 
    }
}